{
    "presets": [
        "es2015",
        ["env", {
            "targets": {
                "chrome": 53
             },
             "modules": false,
             "loose": true
        }]
    ],
    "plugins": [
        "add-module-exports"
    ]
}
