<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Angular Lazy Load</title>
    </head>
    <body ng-app="app">
        <my-header></my-header>
        <map></map>

    </body>
</html>
